h1{
    color:rgb(69, 2, 2);
    background-color: green;
    font-size: 50px;
    text-decoration:underline;
    font-family:sans-serif;
    text-align: center;


}
p {
    color: brown;
    text-align: center;
    line-height:30px;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 60px;

}

ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: coral; */

    border: 2px solid coral;
    border-top: 5px dashed red;
    border-bottom: 2px dotted green;
}

li{
    list-style-type: square;
    text-shadow: 2px 2px lightblue;
}